streamlit
spacy
openai-whisper
osmnx
folium
scikit-learn
pandas
numpy
geopy
networkx
thefuzz
google-generativeai
python-dotenv
streamlit-mic-recorder
streamlit-geolocation
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl